.data-card {
  display: flex;
  align-items: center;
  width: 360px;
  height: 72px;
justify-content: space-between;
gap: 20px;
}
.ellipse {
  width: 65px;
  height: 65px;
  background: rgba(217, 217, 217, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse img {
  width: 32px;
  height: 32px;

}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}
.ref-info{
  
}
